@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

:root{
  --theme-border: black;
  --theme-button: red;  
}
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Rubik Doodle Shadow', system-ui;
}